[package]
name = "cURLtui-rs"
version = "0.1.0"
authors = ["PThorpe92 <preston@unlockedlabs.org>"]
license = "GPL-3.0"
edition = "2021"

[dependencies]
reqwest = "0.11.20"
crossterm = "0.27.0"
tui = { package = "ratatui", features = ["crossterm"], version = "0.23.0" }
tui-input = "*"
tui-widget-list = "0.2.2"
lazy_static = "1.4.0"
rusqlite = "0.29.0"
serde_json = "1.0.107"
serde =  { version = "1.0.188", features = ["derive"] }
chrono = "0.4.31"
tokio = {version = "1.32.0", features = ["full"]}
curl = "0.4.44"
